.app {
  background: no-repeat;
}

.shopNow {
  text-decoration: underline;
  display: block;
  text-align: center;
}

.main {
  padding: 20px;
}

.productsListCon {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.productImageCon {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: 20px 0px;
}

.productImage {
  height: 100%;
  width: 100%;
  justify-self: center;
  align-self: center;
  margin: 5px;
}

.productTitle {
  height: 60px;
  overflow: hidden;
  text-align: center;
}

.list {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin-top: 20px;
  width: 100%;
}

.cartBtn {
  margin-top: 10px;
  background-color: dodgerblue;
  border: 0px;
  padding: 10px;
  color: #fff;
}

@media (min-width: 600px) {
  .productsListCon {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
  .divider {
    display: none;
  }
}

@media (min-width: 1024px) {
  .productsListCon {
    grid-template-columns: repeat(4, 1fr); /* Four columns for large screens */
  }
}
